<link rel="stylesheet" type="text/css" href="~/Scripts/_gallery.css">
<link rel="stylesheet" type="text/css" href="~/Scripts/_about.css">
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="vendors/linericon/style.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
<link rel="stylesheet" href="vendors/lightbox/simpleLightbox.css">
<link rel="stylesheet" href="vendors/nice-select/css/nice-select.css">
<link rel="stylesheet" href="vendors/animate-css/animate.css">
<link rel="stylesheet" href="vendors/popup/magnific-popup.css">
<!-- main css -->
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/responsive.css">
<






    <div class="background-container">
        <div class="gdlr-color-wrapper no-skin" style="background-color: #00ff21; ">

            <p>

                CILJEVI UDRUŽENJA
            </p>
        </div>

        Udruženje je osnovano sa ciljem da se uspješno rješavaju pitanja vezana za poslovanje 
        njihovih članova u djelatnostima malinarstva, proizvodnje, proizvodnje ljekovitog bilja,
         te u oblastima dopunskih djelatnosti na poljoprivrednim gazdinstvima, a sve u skladu sa Zakonom.



        <p>
            <br> <br>
            ZADACI UDRUŽENJA
            <br />
            Predlaganje općinskim, kantonalnim, federalnim i državnim organima i institucijama, 
            mjera iz oblasti agrarne politike u cilju poboljšanja ekonomskog položaja ukupne poljoprivrede i 
            poboljšanja njene konkurentske sposobnosti na domaćem i inostranom tržištu, te insistiranje na provođenju donesenih mjera.

        </p>

        <p><br><br>  </p>
        -Edukacija poljoprivrednih proizvođača kroz stručne seminare i kurseve.
        <br />
        -Saradnja sa sličnim i drugim, domaćim i stranim organizacijama.
        <br />

        Udruženje djeluje na područiju općine

    </div>

</body>

<div id="loading" style="height: 100%; width: 100%; visibility: hidden; position: fixed; z-index: 1030;">
    <div class="loader" style="top: 45%; left: 43%; position: absolute;"></div>
</div>
<div id="body" class="container" style="min-height: 89%; padding-bottom: 1%" ng-app="farmerWebPortal">

    <section id="content-section-4"><div class="gdlr-color-wrapper no-skin" style="background-color: #f9f9f9;  border-top: 1px solid #e0e0e0;  border-bottom: 1px solid #e0e0e0; padding-top: 60px; padding-bottom: 20px; "><div class="container"><div class="twelve columns"><div class="portfolio-item-wrapper type-modern-portfolio"><div class="portfolio-item-holder"><div class="gdlr-isotope" data-type="portfolio" data-layout="fitRows"><div class="clear"></div><div class="three columns"><div class="gdlr-item gdlr-portfolio-item gdlr-modern-portfolio"><div class="gdlr-ux gdlr-modern-portfolio-ux"><div class="portfolio-thumbnail gdlr-image"><img src="https://fmpvs.gov.ba/wp-content/uploads/2017/12/Sumarski-program-1-150x150.jpg" alt="" width="150" height="150" /><a class="portfolio-overlay-wrapper" href="/sumarski-program/"><span class="portfolio-overlay"><span class="portfolio-icon"><i class="icon-link"></i></span></span><div class="portfolio-thumbnail-bar"></div></a><div class="portfolio-content-wrapper"><div class="portfolio-content-overlay"></div><h3 class="portfolio-title"><a href="/sumarski-program/">Šumarski program</a></h3></div></div></div></div></div><div class="three columns"><div class="gdlr-item gdlr-portfolio-item gdlr-modern-portfolio"><div class="gdlr-ux gdlr-modern-portfolio-ux"><div class="portfolio-thumbnail gdlr-image"><img src="https://fmpvs.gov.ba/wp-content/uploads/2017/12/Untitled-1-150x150.png" alt="" width="150" height="150" /><a class="portfolio-overlay-wrapper" href="poljoprivredna-savjetodavna-sluzba/"><span class="portfolio-overlay"><span class="portfolio-icon"><i class="icon-link"></i></span></span><div class="portfolio-thumbnail-bar"></div></a><div class="portfolio-content-wrapper"><div class="portfolio-content-overlay"></div><h3 class="portfolio-title"><a href="poljoprivredna-savjetodavna-sluzba/">Poljoprivredna savjetodavna služba</a></h3></div></div></div></div></div><div class="three columns"><div class="gdlr-item gdlr-portfolio-item gdlr-modern-portfolio"><div class="gdlr-ux gdlr-modern-portfolio-ux"><div class="portfolio-thumbnail gdlr-image"><img src="https://fmpvs.gov.ba/wp-content/uploads/2017/12/fitoregistar-1-150x150.jpg" alt="" width="150" height="150" /><a class="portfolio-overlay-wrapper" href="/vodic-za-upis-u-fitoregistar/"><span class="portfolio-overlay"><span class="portfolio-icon"><i class="icon-link"></i></span></span><div class="portfolio-thumbnail-bar"></div></a><div class="portfolio-content-wrapper"><div class="portfolio-content-overlay"></div><h3 class="portfolio-title"><a href="/vodic-za-upis-u-fitoregistar/">Fitoregistar</a></h3></div></div></div></div></div><div class="three columns"><div class="gdlr-item gdlr-portfolio-item gdlr-modern-portfolio"><div class="gdlr-ux gdlr-modern-portfolio-ux"><div class="portfolio-thumbnail gdlr-image"><img src="https://fmpvs.gov.ba/wp-content/uploads/2017/12/Poticaji-150x150.jpg" alt="" width="150" height="150" /><a class="portfolio-overlay-wrapper" href="/poticaji/"><span class="portfolio-overlay"><span class="portfolio-icon"><i class="icon-link"></i></span></span><div class="portfolio-thumbnail-bar"></div></a><div class="portfolio-content-wrapper"><div class="portfolio-content-overlay"></div><h3 class="portfolio-title"><a href="/poticaji/">Poticaji</a></h3></div></div></div></div></div><div class="clear"></div><div class="three columns"><div class="gdlr-item gdlr-portfolio-item gdlr-modern-portfolio"><div class="gdlr-ux gdlr-modern-portfolio-ux"><div class="portfolio-thumbnail gdlr-image"><img src="https://fmpvs.gov.ba/wp-content/uploads/2017/12/RPG-150x150.jpg" alt="" width="150" height="150" /><a class="portfolio-overlay-wrapper" href="/registar-poljoprivrednih-gazdinstava/"><span class="portfolio-overlay"><span class="portfolio-icon"><i class="icon-link"></i></span></span><div class="portfolio-thumbnail-bar"></div></a><div class="portfolio-content-wrapper"><div class="portfolio-content-overlay"></div><h3 class="portfolio-title"><a href="/registar-poljoprivrednih-gazdinstava/">RPG</a></h3></div></div></div></div></div><div class="three columns"><div class="gdlr-item gdlr-portfolio-item gdlr-modern-portfolio"><div class="gdlr-ux gdlr-modern-portfolio-ux"><div class="portfolio-thumbnail gdlr-image"><img src="https://fmpvs.gov.ba/wp-content/uploads/2017/12/Strategija-poljoprivrede-150x150.jpg" alt="" width="150" height="150" /><a class="portfolio-overlay-wrapper" href="/strategija-poljoprivrede/"><span class="portfolio-overlay"><span class="portfolio-icon"><i class="icon-link"></i></span></span><div class="portfolio-thumbnail-bar"></div></a><div class="portfolio-content-wrapper"><div class="portfolio-content-overlay"></div><h3 class="portfolio-title"><a href="/strategija-poljoprivrede/">Strategija poljoprivrede</a></h3></div></div></div></div></div><div class="three columns"><div class="gdlr-item gdlr-portfolio-item gdlr-modern-portfolio"><div class="gdlr-ux gdlr-modern-portfolio-ux"><div class="portfolio-thumbnail gdlr-image"><img src="https://fmpvs.gov.ba/wp-content/uploads/2017/12/Voda1-150x150.jpg" alt="" width="150" height="150" /><a class="portfolio-overlay-wrapper" href="/strategija-voda/"><span class="portfolio-overlay"><span class="portfolio-icon"><i class="icon-link"></i></span></span><div class="portfolio-thumbnail-bar"></div></a><div class="portfolio-content-wrapper"><div class="portfolio-content-overlay"></div><h3 class="portfolio-title"><a href="/strategija-voda/">Strateški i planski dokumenti u vodama</a></h3></div></div></div></div></div><div class="three columns"><div class="gdlr-item gdlr-portfolio-item gdlr-modern-portfolio"><div class="gdlr-ux gdlr-modern-portfolio-ux"><div class="portfolio-thumbnail gdlr-image"><img src="https://fmpvs.gov.ba/wp-content/uploads/2017/12/Program-ruralnog-razvoja2-150x150.jpg" alt="" width="150" height="150" /><a class="portfolio-overlay-wrapper" href="/program-ruralnog-razvoja/"><span class="portfolio-overlay"><span class="portfolio-icon"><i class="icon-link"></i></span></span><div class="portfolio-thumbnail-bar"></div></a><div class="portfolio-content-wrapper"><div class="portfolio-content-overlay"></div><h3 class="portfolio-title"><a href="/program-ruralnog-razvoja/">Program ruralnog razvoja</a></h3></div></div></div></div></div></div><div class="clear"></div></div></div></div><div class="clear"></div></div></div><div class="clear"></div></section>
    <section id="content-section-5">
        <div class="gdlr-color-wrapper no-skin" style="background-color: #ffffff; ">
            <div class="glyphicon-align-center">
                <div class="three columns">
                    <div class="gdlr-ux column-service-ux">
                        <div class="gdlr-item gdlr-column-service-item">

                        </div>
                    </div>
                </div>
            </div>



            <div class="gdlr-color-wrapper no-skin" style="background-color: #00ff21; ">

                <footer class="footer-wrapper">
                    <div class="footer-container container">
                        <div class="footer-column twelve columns" id="footer-widget-1">
                            <div id="text-5" class="widget widget_text gdlr-item gdlr-widget">
                                <div class="textwidget">
                                    <div id="footer-left">
                                        <p style="text-align: center;">Poljoprivredno udruženje Jablanica | Doljanka br. 10 | 88420 Jablanica</p>
                                    </div>
                                    <p style="text-align: center;">Tel: +387 33 555 323 | Fax: +387 33 555 323 | <a class="basic-link-light" href="admir.djelmo@hotmail.com">admir.djelmo@hotmail.com</a></p>
                                    <hr />
                                    <p style="text-align: center;"><a href="http://www.jablanica.ba/" target="_blank" rel="noopener">Službena stranica Općine Jablanica</a> | Pere Bilića, 88420 Jablanica|  </p>
                                    <hr />
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
            </div>

            <div class="copyright-wrapper">
                <div class="copyright-container container">
                    <div class="copyright-left">
                        Poljoprivredna udruga Jablanica
                    </div>
                    <div class="copyright-right">
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <script src="js/jquery-3.3.1.min.js"></script>
            <script src="js/popper.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <script src="js/stellar.js"></script>
            <script src="vendors/lightbox/simpleLightbox.min.js"></script>
            <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
            <script src="vendors/isotope/imagesloaded.pkgd.min.js"></script>
            <script src="vendors/isotope/isotope.pkgd.min.js"></script>
            <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
            <script src="vendors/popup/jquery.magnific-popup.min.js"></script>
            <script src="js/jquery.ajaxchimp.min.js"></script>
            <script src="vendors/counter-up/jquery.waypoints.min.js"></script>
            <script src="vendors/counter-up/jquery.counterup.js"></script>
            <script src="js/mail-script.js"></script>
            <script src="js/theme.js"></script>
            </footer>
        </div> <!-- body-wrapper -->
        <script type="text/javascript"></script>
        
