
<body style="height: 100%; max-width: 100%; background-image: url('../../Content/Slike/Breskve-u-ambalzi-1000x650.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-position: center;">

    <p>
        <br> <br>
        ZADACI UDRUŽENJA
        <br />
                       Predlaganje općinskim, kantonalnim, federalnim i državnim organima 
        i institucijama,
        mjera iz oblasti agrarne politike u cilju poboljšanja ekonomskog 
        položaja ukupne poljoprivrede i
        poboljšanja njene konkurentske sposobnosti na domaćem i inostranom tržištu,
         te insistiranje na provođenju donesenih mjera.

    </p>

    <p><br><br>  </p>
    -Edukacija poljoprivrednih proizvođača kroz stručne seminare i kurseve.
    <br />
    -Saradnja sa sličnim i drugim, domaćim i stranim organizacijama.
    <br />

    Udruženje djeluje na područiju općine

</body>